#services .card circle {
    fill: var(--brand-light);
}

#navigation .logo path[fill*="#00856F"],
#backToTopButton circle {
    fill: var(--primary-color);
}

#navigation .open-menu path,
#contact li path {
    stroke: var(--primary-color);
}


#navigation.scroll .open-menu path {
    stroke: white;
}

body.menu-expanded #navigation .logo path,
#navigation.scroll .logo path {
    fill: white;
}

