footer {
    background-color: var(--primary-color);
    padding-block: 6rem;
    text-align: left;
    color: white;
}

footer .logo path {
    fill: white;
}

footer .logo svg {
    width: 23.6rem;
    height: 3.1rem;

}

footer .logo {
    display: inline-block;
    margin-bottom: 2.4rem;
}

footer p {
    color: var(--brand-beige);
    line-height: 2;
    margin-bottom: 3.2rem;
}

footer .social-links {
    justify-content: flex-start;
}

#backToTopButton {
    position: fixed;
    bottom: 1rem;
    right: 2.5rem;
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
    transition: .2s;
}

#backToTopButton.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
